.header {
    padding: 80px;
    text-align: center;
    /* background image from: https://guide.michelin.com/ca/en/article/michelin-guide-ceremony/michelin-guide-inspectors-favorite-dishes-vancouver-canada */
    background-image: url("RestaurantImageHeader2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 30px;
    text-shadow: -2px -2px black;
  }

  body {
    background-color: #D4E6F1;
  }